.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabeçalho__menu-hamburguer { background-color: var(--branco);

    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.container header class
        span class
        img srcLogo da AluraBooks
    /div>
    div class>
        a href>img src alt
        a href>img src alt>a>
        a href>img src alt>
    div>
header>


    display:flex
    align-items center

.container__imagem {
    padding: 1em;
}

